@page "/AdvancedMapMarker"
@using GoogleMapsComponents

<h1>Google Advanced Map Markers</h1>

<GoogleMap @ref="@_map1" Id="map1" Options="@_mapOptions"></GoogleMap>
<button @onclick="@AddMarker">Add advanced marker</button>